<template>



<div class="bcontainer">
                                           
            <table class="econtainer">
                
                <tr>
                    <td>
                        <input type="text" placeholder="Search"
                        class="search">       
                    </td>
                </tr>
            </table>

<div id = "navside">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#mobsidebar" role="button" aria-controls="offcanvasExample" >
            <i class="bi bi-list"></i></a></div>

            </div>

<div class="info">
            
            <h1>All Songs </h1>
            
  <section class="right col-lg-8">          
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col-sm-5">#</th>
      <th scope="col-sm-7">Title</th>
      <th scope="col-sm-1">Artist</th>
      <th scope="col-sm-1">Album</th>
      <th scope="col-sm-1">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Happier</td>
      <td>Olivia R.</td>
      <td>Sour</td>
      <td>2:55</td>
    </tr>
    <tr>
      <th scope="row">2</th>    
      <td>Traitor</td>
      <td>Olivia R.</td>
      <td>Sour</td>
      <td>3:35</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Deja Vu</td>
      <td>Olivia R.</td>
      <td>Sour</td>
      <td>3:49</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Save Your Tears</td>
      <td>The Weeknd</td>
      <td>After Hours</td>
      <td>3:35</td>
    </tr>
      <tr>
      <th scope="row">5</th>
      <td>Blinding Lights</td>
      <td>The Weeknd</td>
      <td>After Hours</td>
      <td>4:23</td>
    </tr>
  </tbody>
</table>   
            </section>                   
      </div>

<div class="container-fluid" id="cont">
<div class = "container text-center" id="les1">
            <div class="progress">
               <img class="linee" src="../assets/Linebar.png" alt="progress">
            </div>
            <div class = "row text-center p-5">
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic1">
                    
                <img class= "prevbtn" src="../assets/Rewind.png" alt="previous">
                </div>
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic2">
                   
                <img class= "playbtn" src="../assets/Play.png" alt="playbtn">
                </div>
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic3" >
                    
                <img class ="forwardbtn" src="../assets/Forward.png" alt="forward">
                </div>
            
            </div>
            
        </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="mobsidebar" aria-labelledby="offcanvasExampleLabel">

    <div class="sidebar1">
        <img src="../assets/Logo1.png">
            
        <ul class="col">
            <li><a href="#" class="col1" id ="Upload-Music"
                  
                   data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Upload Music</a></li>
            
            <li><a href="#" class="col1" id ="Upload-Music"
                  
                   data-bs-toggle="modal" data-bs-target="#exampleModal1">
                   Create Playlist</a></li>
    
            <li><a href="#"><i class="fas P1"></i>Playlist 1</a></li>
            <li><a href="#"><i class="fas P2"></i>Playlist</a></li>
            <li><a href="#"><i class="fas P3"></i>Playlist</a></li>
            <li><a href="#"><i class="fas P4"></i>Playlist</a></li>
        
        </ul>
        
    </div>
    
    
</div>







</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1 {
    padding-top: 50px;
    margin-left: -490px;
    padding-bottom: 40px;
    color: #333333;
}

.table {
    border: 1px solid #FFF;
    margin-left: 400px;
}

.table thead th {
    background: #FFA96A;  
    text-align: center;
}

.table tbody {
    background: #FFCA8C;
    text-align: center;
    color: #333333;
}

.econtainer {
    width: 350px;
    height: 30px;
    vertical-align: middle;
    margin-left: 400px;
    margin-top: 40px;
}

.bcontainer {
    background: #FF8D3B;
}

.search {
    border: .5px solid #333333;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    font-size: 13px;
    color: #424242;
    font-weight: 500;  
    vertical-align: middle;
    background: #FFE4C4;
}

#cont{
  width: 500px;
  height: 290px;
}

.search:focus {
    outline: none;
}

.progress {
  width: 700px;
}

.linee {
width: 1000px;
background: #FF8D3B;
}

.row {
    justify-content: center;
    margin-left: 10px;
    height: 300px;
    width: 700px;
}
#pic1 {
    width:200px;
    height: 100px;
    cursor:pointer;
}

#pic1 img {
    width:50px;
    height: 40px;
    
}

#pic2 {
    width:150px;
    height: 100px;
    cursor:pointer;
}

#pic2 img {
    width:50px;
    height: 50px;
}
#pic3 {
    width:200px;
    height: 100px;
    cursor:pointer;
}

#pic3 img {
    width:50px;
    height: 40px;
}
#les1 {
    padding-top:40px;
}
#prog {
    height:13px;
    background-color:#6D9886;
    cursor:pointer;
}

@media only screen and (min-width: 768px) {
#navside {
    display: none;
        
    }    

#mobsidebar {
    display: none;    
   
    }
    
}

@media only screen and (max-width: 768px) {

.info h1{
  margin-left: -300px;
}


.progress {
  width: 380px;
}

.row {
    justify-content: center;
    margin-left: -60px;
    height: 300px;
    width: 500px;
}
#pic1 {
    width: 120px;
    height: 60px;
    cursor:pointer;
}

#pic1 img {
    width:40px;
    height: 30px;
    
}

#pic2 {
    width:120px;
    height: 60px;
    cursor:pointer;
}

#pic2 img {
    width:40px;
    height: 40px;
}
#pic3 {
    width: 120px;
    height: 60px;
    cursor:pointer;
}

#pic3 img {
    width:40px;
    height: 30px;
}
#les1 {
    padding-top: 20px;
}
#prog {
    height:13px;
    background-color:#6D9886;
    cursor:pointer;
}

.sidebar1{
    width: 200px;
    height: 100%;
    background: #FF8D3B;  
    padding: 30px 0px;
    position: fixed;
    border-right: 1px solid #e0e4e8; 
}

.sidebar1 img{
    height: 40px;
    width: 40px;
    margin-bottom: 11px;
    margin-left: 0px;
    background: #FF8D3B;
  
}

.sidebar1 ul li{
    padding: 20px;
    border-bottom: 1px solid #333333;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    background: #FF8D3B;
    list-style: none;
    text-align: left;
    
}    

.sidebar1 ul li a{
    color: #333333;
    display: block;
    text-decoration: none;   
}

.sidebar1 ul li a .fas{
    width: 0px; 
    
}
    
.sidebar1 ul li:hover a{
    color: #fff;
}

#mobsidebar {
    width: 200px; 
    
    }
    
#navside {
    margin-top: -30px;
    margin-left: -380px;
    
    }   
    
#navside a {
    width: 30px;
    height: 30px;
    background: #FF8D3B;
    border: .5px solid #333333;    
    }
    
#navside a i {
    width: 50px;
    height: 50px;
    margin-left: -5px;
    color: #333333;
    
}




}





</style>
