<template>

<div class="wrapper">
    <div class="sidebar">
        <img src="../assets/Logo1.png"> 
            
            <ul class="col">
            <li><a href="#" class="col1" id ="Upload-Music"
                  
                   data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Upload Music</a></li>
            
            <li><a href="#" class="col1" id ="Upload-Music"
                  
                   data-bs-toggle="modal" data-bs-target="#exampleModal1">
                   Create Playlist</a></li>
    
            <li><a href="#"><i class="fas P1"></i>Playlist 1</a></li>
            <li><a href="#"><i class="fas P2"></i>Playlist</a></li>
            <li><a href="#"><i class="fas P3"></i>Playlist</a></li>
            <li><a href="#"><i class="fas P4"></i>Playlist</a></li>
        
        </ul>
                        
    </div>

</div>


<!------------MODAL-------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="Files p-4 text-center">
            Drag and Drop files here
          </div>
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Upload</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--------------MODAL1----------------->

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="Files1">
            <input type="text" placeholder=" "
                        class="drag">
          </div>
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


</template>

<script>
export default {
    name: 'sidebar',
}
</script>

<style scoped>

.wrapper{
    display: flex;
    position: relative;
    background: #FF8D3B;
}

.wrapper .sidebar{
    width: 250px;
    height: 100%;
    background: #FF8D3B;  
    padding: 30px 0px;
    position: fixed;
    border-right: 1px solid #fff;
    margin-top: -7px;
}

.wrapper .sidebar img{
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
    margin-left: -10px;
    background: #FF8D3B;
}

.sidebar.active {
    margin-left: -250px;
}

.wrapper .sidebar ul li{
    padding: 20px;
    border-bottom: 1px solid #333333;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    background: #FF8D3B;  
    list-style: none;
    margin-left: 20px;
    text-align: left;
}    

.wrapper .sidebar ul li a{
    color: #333333;
    display: block;
    text-decoration: none;      
}

.wrapper .sidebar ul li a .fas{
    width: 0px; 
    
}
    
.wrapper .sidebar ul li:hover a{
    color: #fff;
}

#exampleModal .modal-body {
    background: #FF8D3B;
    text-align: center;     
}

#exampleModal .modal-body .Files {
    background: #FFCA8C;
}

#exampleModal .modal-header {
    background: #FF8D3B;
    text-align: center;    
}

#exampleModal .modal-footer {
    background: #FF8D3B;
    text-align: center;    
}

#exampleModal1 .modal-body {
    background: #FF8D3B;
    text-align: center; 
    height: 60px;
}

#exampleModal1 .modal-body .drag {
    background: white;
    border: .5px solid #333333 ;
    width: 400px;
    
}

#exampleModal1 .modal-header {
    background: #FF8D3B;
    text-align: center;   
}

#exampleModal1 .modal-footer {
    background: #FF8D3B;
    text-align: center;    
}


</style>
