<template>

<div class = "app-container" id="display">
  <nav class ="navbar navbar-expand-lg navbar-light" id="menubar">
      <div class = "container-fluid" id="main1">

          <sidebar/> 

          </div>
        </nav>

      <div class = "container-fluid" id="display1">
    <music-table/>
  </div>
</div>

  
  
</template>

<script>
import MusicTable from './components/MusicTable.vue'
import Sidebar from './components/Sidebar.vue'

export default {
  name: 'App',
  components: {
    Sidebar,
    MusicTable,
    
  }
}
</script>


<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
#app {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #FF8D3B;
}



@media only screen and (max-width: 768px) {

.wrapper .sidebar {
        margin-left: -250px;
        background: #FF8D3B;
        display: none;
    }  

.info h1 {
        padding-top: 10px;
        margin-left: -175px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

.bcontainer .econtainer {
        margin-left: 50px;
        
    }

.info .table {
        margin-left: 0px;
}


}


</style>
